extends layout

block content
  .container
    span.btn.btn-success.fileinput-button
      span + Upload Files
      input#fileupload(type='file', name='file', data-url='/upload', multiple)
    br
    br
    .progress.progress-striped.active
      .progress-bar.progress-bar-success