extends layout

block content

  div.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          .head
            .logo
              h1.white Pombo
                span.blue APP
      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/login') Already a member?

  #headerwrap
    .container
      .row
        .col-lg-6
          h1
            | All yours important files
            br
            | in one place, a secure place
          .form-inline
            .form-group
              input#emailInvite.form-control(type='email', placeholder='Enter your email address')
              button.btn.btn-warning Invite Me!
        // /col-lg-6
        .col-lg-6
          img.img-responsive(src='/img/ipad-hand.png', alt='')

  .container
    .row.mt.centered
      .col-lg-6.col-lg-offset-3
        h1
          | Your Landing Page
          br
          | Looks Wonderful Now.
        h3
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.

    .row.mt.centered
      .col-lg-4
        img(src='/img/ser01.png', width='180', alt='')
        h4 1 - Browser Compatibility
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.

      .col-lg-4
        img(src='/img/ser02.png', width='180', alt='')
        h4 2 - Email Campaigns
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.

      .col-lg-4
        img(src='/img/ser03.png', width='180', alt='')
        h4 3 - Gather Your Notes
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.






  //- .container
  //-   .header
  //-     .logo
  //-       h1 Pombo
  //-         span.blue APP

  //-   .col-md-6
  //-     img(src="/magician.svg", width="500px")

  //-   .col-md-6
  //-     a.btn.btn-primary.btn-lg(href="/signup") Sign up
  //-     br
  //-     span or
  //-       a.btn.btn-link.btn-lg(href="/login") Login
