extends layout

block content
  .container
    .header
      .logo
        h1 Pombo
          span.blue APP

    .col-md-6
      img(src="/magician.svg", width="500px")

    .col-md-6
      a.btn.btn-primary.btn-lg(href="/signup") Sign up
      br
      span or
        a.btn.btn-link.btn-lg(href="/login") Login
