doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/img/favicon.png")
    title PomboApp Secret Files
    script(src="http://fb.me/react-0.13.1.js")
    script(src="http://fb.me/JSXTransformer-0.13.1.js")
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fileupload.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href='http://fonts.googleapis.com/css?family=Oleo+Script', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900', rel='stylesheet', type='text/css')

  body
    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.5.2/js/vendor/jquery.ui.widget.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.5.2/js/jquery.fileupload.js')
    script(src='/javascripts/main.js')
