extends ../layout

block content
  .container
    .header
      .logo
        h1 Pombo
          span.blue APP
      ul.nav.nav-pills
        -if(loggedIn)
          li
            a(href='/profile') Profile
          li
            a(href='/files') Files
          li
            a(href='/logout') Logout

    span.btn.btn-success.fileinput-button
      span + Upload Files
      input#fileupload(type='file', name='file', data-url='/upload', multiple)
    br
    br
    .progress.progress-striped.active
      .progress-bar.progress-bar-success
    br
    br
    ul.files
      each file in files
        li.file= file
          a(class='btn btn-danger', href='/download/'+file) Download



  script(type='text/javascript').
      var socket = io.connect('/');
      socket.on('news', function (data) {
        $( ".files" ).prepend( "<li class='file'>"+data.name+"<a class='btn btn-danger' href=/download/"+data.url+">Download</a></li>" );
      });