extends ../layout

block content
  .container
    .header
      a.navbar-brand(href='/')
        .logo
          h1 Pombo
            span.blue APP

      ul.nav.nav-pills
        -if(loggedIn)
          li
            a(href='/profile') Profile
          li
            a(href='/files') Files
          li
            a(href='/logout') Logout

    span.btn.btn-success.fileinput-button
      span + Upload Files
      input#fileupload(type='file', name='file', data-url='/upload', multiple)
    br
    br
    .progress.progress-striped.active
      .progress-bar.progress-bar-success
    br
    br

    table.table
      thead
        tr
          th #
          th Name
          th Kind
          th Action
      tbody
        each file in files
          tr
            td
              i(class= file.type.split('/').shift())
            td= file.file_name
            td= file.type.split('/').shift()
            td
              a(class='btn btn-success btn', href='/download/'+file.file_name)
                i.glyphicon.glyphicon-floppy-save.white

              a(class='btn btn-danger btn', href='/download/'+file)
                i.glyphicon.glyphicon-floppy-remove.white




  script(type='text/javascript').
      var socket = io.connect('/');
      socket.on('news', function (data) {
        $( ".table tbody" ).prepend( "<tr><td>1</td><td>"+data.name+"</td><td>folder</td><td>@mdo</td><td><a class='btn btn-danger' href=/download/"+data.url+">Download</a></td></tr>" );
      });
